.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .links {
        display: block;
        justify-content: center;
        align-items: center;
    }
}