@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html {
    font-family: 'Didact Gothic', sans-serif;
    font-size: large;
}

ul {
    list-style-type: none;
}

#sidebar-name {
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    html {
        font-size: x-large;
    }

    .blogContent {
        font-size: xx-large;
    }
}
