@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html {
    font-family: 'Didact Gothic', sans-serif;
    font-size: large;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: sans-serif;
    transition: background 0.25s ease-in-out;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    html {
        font-size: x-large;
    }
}

body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
}
